{% extends "scgScoogers/scgLayout.html"  %}

{% block body%}
{% load static %}

<div class="mainPicture" style="background-image: url({% static "images/Scooters_temporatry_main.jpg" %});">
</div>

<h1>What is Scooger?</h1>
<div class="scooText">
    <p> 
        <span>(Scooger is a wireless electric </span>
        <span style="color: green;">scoo</span>
        <span>ter char</span> <span style="color: green;">ger</span>
        <span>platform.</span> 
        
    </p> 

    </p>
</div>

{% endblock body%}